{block title}
	Úprava projektu
{/block}

{block content}
	{control addEditForm}

	<h2>Oprávnění uživatelů na projekt</h2>
	{control userOnProjectGrid}


	<h2>Integrace na Slack</h2>
	{control slackIntegrationOnProjectGrid}
{/block}

