{default $projects = []}

{block content}

	<div class="row">
		{foreach $projects as $project}
			<div class="col-md-4">
				{control project-$project->id}
			</div>
		{/foreach}
	</div>

	<p><a n:href="Project:add" class="btn btn-success" n:if="$user->isAllowed('project', 'add')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Přidat nový projekt</a></p>

	{control refresh}

{/block}

{block title}
	Dashboard
{/block}
