<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{snippet title}<title>{ifset #title}{include #title|striptags} &ndash; {/ifset}Pecka Monitoring</title>{/snippet}

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{$baseUri}/styles/datagrid.css">
		<link rel="stylesheet" type="text/css" href="{$baseUri}/styles/datagrid-spinners.css">

		<style>
			body {
				padding-top: 60px;
				padding-bottom: 20px;
			}

			.navbar-inverse {
				background-color: #003453;
				border-color: #003453;
			}

			.tab-content {
				padding-top: 20px;
			}
			.btn-group { margin-bottom:5px; }

			@media only screen and (min-width: 960px){
				.title { float:left; width:35%; }
				.buttons { float:right; width:60%; text-align:right; margin:20px 0 10px; }
				.break { height:0; font-size:0; line-height:0; clear:both; overflow:hidden; visibility:hidden; display:block; width:100%; }
			}
		</style>
	</head>
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" n:href=":DashBoard:HomePage:"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Pecka Monitoring<sup>beta</sup></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse navbar-right">
					{control settings}
					{control lastRefresh}
					{control logout}
				</div>
			</div>
		</nav>

		<div class="container">

			{foreach $flashes as $flashMessage}
				<div class="alert alert-{$flashMessage->type}" role="alert">
					<span class="alert-link">{$flashMessage->message}</span>
				</div>
			{/foreach}


			<div class="row">
				<div class="container">
					<div class="page-header">
						{snippet heading}
							<div class="title" n:ifset="#title"><h1>{include #title}</h1></div>
							{ifset #buttons}
								{include #buttons}
							{/ifset}
							<div class="break"></div>
						{/snippet}
					</div>
					{include #content}
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="{$baseUri}/js/lastrefresh.js"></script>
		<script src="{$baseUri}/js/nette.ajax.js"></script>
		<script src="{$baseUri}/js/netteForms.min.js"></script>
		<script src="{$baseUri}/js/main.js"></script>

		<script src="{$baseUri}/js/datagrid.js"></script>
		<script src="{$baseUri}/js/datagrid-spinners.js"></script>

	</body>
</html>
