includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon


parameters:
	phpVersion: 80000

	checkUninitializedProperties: true

	featureToggles:
		bleedingEdge: true
		closureUsesThis: true
		randomIntParameters: true
		nullCoalesce: true
		fileWhitespace: true
		unusedClassElements: true
		readComposerPhpVersion: true
		dateTimeInstantiation: true
		detectDuplicateStubFiles: true
		checkLogicalAndConstantCondition: true
		checkLogicalOrConstantCondition: true
