extensions:
	pd.monitoring: Pd\Monitoring\DI\Extension
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	github: Kdyby\Github\DI\GithubExtension
	monitoring.monolog: Pd\Monitoring\Monolog\DI\Extension
	rabbitmq: Kdyby\RabbitMq\DI\RabbitMqExtension
	nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension


orm:
	model: Pd\Monitoring\Orm\Orm


dbal:
	driver: mysqli


migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras


github:
	permissions:
		- user:email
		- read:org


monitoring.monolog:
	allowedTypes:
		 - Pd\Monitoring\DashBoard\Presenters\BasePresenter


monolog:
	name: "pecka-monitoring"
	handlers:
		- Pd\Monitoring\Monolog\Handlers\DayFileHandler("pecka-ci-server", %logDir%)


clock:
	provider: current


parameters:
	binDir: %appDir%/bin
	logDir: %appDir%/../log
#	administratorTeamId: # local


application:
	errorPresenter: Error
	scanDirs: off
	mapping:
		*: Pd\Monitoring\*\Presenters\*Presenter


rabbitmq:
	connection:
#		host: %rabbitmq.host%
#		port: %rabbitmq.port%
#		user: %rabbitmq.user%
#		password: %rabbitmq.password%
#		vhost: %rabbitmq.vhost%
	producers:
		aliveCheck:
			exchange: {name: 'aliveCheck', type: direct}
			contentType: text/plain
		dnsCheck:
			exchange: {name: 'dnsCheck', type: direct}
			contentType: text/plain
		certificateCheck:
			exchange: {name: 'certificateCheck', type: direct}
			contentType: text/plain
		feedCheck:
			exchange: {name: 'feedCheck', type: direct}
			contentType: text/plain
		rabbitConsumerCheck:
			exchange: {name: 'rabbitConsumerCheck', type: direct}
			contentType: text/plain
		rabbitQueueCheck:
			exchange: {name: 'rabbitQueueCheck', type: direct}
			contentType: text/plain

	consumers:
		aliveCheck:
			exchange: {name: 'aliveCheck', type: direct}
			queue: {name: 'aliveCheck'}
			callback: [@Pd\Monitoring\Check\Consumers\AliveCheck, process]
		dnsCheck:
			exchange: {name: 'dnsCheck', type: direct}
			queue: {name: 'dnsCheck'}
			callback: [@Pd\Monitoring\Check\Consumers\DnsCheck, process]
		certificateCheck:
			exchange: {name: 'certificateCheck', type: direct}
			queue: {name: 'certificateCheck'}
			callback: [@Pd\Monitoring\Check\Consumers\CertificateCheck, process]
		feedCheck:
			exchange: {name: 'feedCheck', type: direct}
			queue: {name: 'feedCheck'}
			callback: [@Pd\Monitoring\Check\Consumers\FeedCheck, process]
		rabbitConsumerCheck:
			exchange: {name: 'rabbitConsumerCheck', type: direct}
			queue: {name: 'rabbitConsumerCheck'}
			callback: [@Pd\Monitoring\Check\Consumers\RabbitConsumerCheck, process]
		rabbitQueueCheck:
			exchange: {name: 'rabbitQueueCheck', type: direct}
			queue: {name: 'rabbitQueueCheck'}
			callback: [@Pd\Monitoring\Check\Consumers\RabbitQueueCheck, process]


services:
	routerFactory:
		class: Pd\Monitoring\Router\RouterFactory
		arguments:
			- %wwwDir%

	router: @routerFactory::createRouter

	-
		implement: Pd\Monitoring\DashBoard\Controls\Logout\IFactory

	-
		implement: Pd\Monitoring\DashBoard\Controls\Project\IFactory

	-
		class: Pd\Monitoring\DashBoard\Forms\Factory

	-
		implement: Pd\Monitoring\DashBoard\Controls\Check\IFactory

	-
		class: Pd\Monitoring\DashBoard\Controls\AddEditCheck\Factory

	-
		class: Pd\Monitoring\Check\Consumers\AliveCheck

	-
		class: Pd\Monitoring\Check\Consumers\DnsCheck

	-
		class: Pd\Monitoring\Check\Consumers\CertificateCheck

	-
		class: Pd\Monitoring\Check\Consumers\FeedCheck

	-
		class: Pd\Monitoring\Check\Consumers\RabbitConsumerCheck

	-
		class: Pd\Monitoring\Check\Consumers\RabbitQueueCheck

	-
		class: Pd\Monitoring\User\AclFactory

	-
		factory: @Pd\Monitoring\User\AclFactory::create

	-
		class: Pd\Monitoring\DashBoard\Presenters\LoginPresenter
		arguments:
			administratorTeamId: %administratorTeamId%

	-
		class: Pd\Monitoring\Check\Commands\Publish\AliveChecksCommand
		tags:
			- kdyby.console.command
		arguments:
			- @Kdyby\RabbitMq\Connection::getProducer('aliveCheck')

	-
		class: Pd\Monitoring\Check\Commands\Publish\DnsChecksCommand
		tags:
			- kdyby.console.command
		arguments:
			- @Kdyby\RabbitMq\Connection::getProducer('dnsCheck')

	-
		class: Pd\Monitoring\Check\Commands\Publish\CertificateChecksCommand
		tags:
			- kdyby.console.command
		arguments:
			- @Kdyby\RabbitMq\Connection::getProducer('certificateCheck')

	-
		class: Pd\Monitoring\Check\Commands\Publish\FeedChecksCommand
		tags:
			- kdyby.console.command
		arguments:
			- @Kdyby\RabbitMq\Connection::getProducer('feedCheck')

	-
		class: Pd\Monitoring\Check\Commands\Publish\RabbitConsumerChecksCommand
		tags:
			- kdyby.console.command
		arguments:
			- @Kdyby\RabbitMq\Connection::getProducer('rabbitConsumerCheck')

	-
		class: Pd\Monitoring\Check\Commands\Publish\RabbitQueueChecksCommand
		tags:
			- kdyby.console.command
		arguments:
			- @Kdyby\RabbitMq\Connection::getProducer('rabbitQueueCheck')


	-
		implement: Pd\Monitoring\DashBoard\Controls\Refresh\IFactory

	-
		implement: Pd\Monitoring\DashBoard\Controls\LastRefresh\IFactory

	-
		class: Pd\Monitoring\Check\Commands\SlackCheckStatusesCommand
		tags:
			- kdyby.console.command

	-
		implement: Pd\Monitoring\DashBoard\Controls\Maintenance\IFactory

	-
		class: Pd\Monitoring\Slack\Notifier
		arguments:
			hookUrl: %slack.hookUrl%

	-
		implement: Pd\Monitoring\DashBoard\Controls\ProjectChecks\IFactory

	-
		implement: Pd\Monitoring\DashBoard\Controls\EditUser\IFactory

	-
		class: Pd\Monitoring\DashBoard\Forms\UserEditFormFactory

	-
		implement: Pd\Monitoring\DashBoard\Controls\Settings\IFactory

	-
		implement: Pd\Monitoring\DashBoard\Controls\UserList\IFactory

	-
		class: Pd\Monitoring\DashBoard\Controls\DataGridFactory

	-
		implement: Pd\Monitoring\DashBoard\Controls\Favicons\IFactory
