{snippet}
	<div class="card text-white bg-success">
		<div class="card-body pb-0">
			<button class="btn btn-transparent p-0 float-right" type="button">
				<i class="icon-location-pin"></i>
			</button>
			<div class="text-value">{if $check->lastTimeout}{$check->lastTimeout} ms{else}&ndash;{/if}</div>
			<div>{$check->name}</div>
		</div>
		<div class="chart-wrapper mt-3 mx-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
			<canvas class="chart chartjs-render-monitor" id="card-chart2" height="70" width="359" style="display: block; width: 359px; height: 70px;"></canvas>
			<div id="card-chart2-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 138.538px; top: 127.767px;"><div class="tooltip-header"><div class="tooltip-header-item">March</div></div><div class="tooltip-body"><div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(38, 203, 253);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">9</span></div></div></div></div>
	</div>
{/snippet}




<div n:class="card, $check->paused ? panel-default, ! $check->paused && $check->status === Pd\Monitoring\Check\ICheck::STATUS_OK ? panel-success, ! $check->paused && $check->status === Pd\Monitoring\Check\ICheck::STATUS_ALERT ? panel-warning, ! $check->paused && $check->status === Pd\Monitoring\Check\ICheck::STATUS_ERROR ? panel-danger" n:if="FALSE">
	<div class="card-header">
		{if $check->onlyErrors}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="Hlásit pouze chyby"></span> {/if}{$check->fullName}
	</div>
	<div class="card-body">
		{if $check instanceof Pd\Monitoring\Check\AliveCheck}
			<p>Testovaná URL: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
			<p>Předposlední naměřená odezva: {if $check->lastTimeout}{$check->lastTimeout} ms{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední naměřená odezva: {if $check->beforeLastTimeout}{$check->beforeLastTimeout} ms{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>

		{control aliveChart}
		{elseif $check instanceof Pd\Monitoring\Check\DnsCheck}
			<p>Testovaná adresa: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
			<p>Očekávaná hodnota:<ul><li n:foreach="explode(';', $check->dnsValue) as $value">{$value}</li></ul></p>
			<p>Zjištěná hodnota: {if $check->lastDnsValue}<ul><li n:foreach="explode(';', $check->lastDnsValue) as $value">{$value}</li></ul>{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\CertificateCheck}
			<p>Testovaná adresa: <a href="https://{$check->url}" target="_blank">{$check->url}</a></p>
			<p>Varování předem: {$check->daysBeforeWarning} dní</p>
			<p>Platnost do: {if $check->lastValiddate}{$check->lastValiddate|datetime}{else}<span class="text-muted">není</span>{/if}</p>
			<p>Očekávaná známka na SSL Labs: {if $check->grade}{$check->grade}{else}<span class="text-muted">není</span>{/if}</p>
			<p>Aktuální známka na SSL Labs: {if $check->lastGrade}{$check->lastGrade}{else}<span class="text-muted">není</span>{/if} <a href="{$check->getSslLabsApiLink()}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\FeedCheck}
			<p>Adresa feedu: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
			<p>Minimální velikost: {$check->size} MB</p>
			<p>Zjištěná velikost: {if $check->lastSize !== NULL}{$check->lastSize/1024/1024|number:2} MB{else}<span class="text-muted">není</span>{/if}</p>
			<p>Maximální stáří: {$check->maximumAge} h</p>
			<p>Čas poslední změny: {if $check->lastModified}{$check->lastModified|dateTime}{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\RabbitConsumerCheck}
			<p>API URL: <a href="{$check->url}" target="_blank">{$check->url}</a> <a href="{$check->adminUrl}" target="_blank" n:if="$check->adminUrl"><span class="glyphicon glyphicon-dashboard" aria-hidden="true" title="Administrace RabbitMQ"></span></a></p>
			<p>Kontrolované fronty (aktuální/očekávaná):</p>
			<ul>
				{var $minimum = $check->getMinimumConsumerCount()}
				{var $last = $check->getLastConsumerCount()}
				{foreach $check->getQueues() as $k => $v}
					<li>{$v}: <span class="{if isset($last[$k]) && $last[$k]>=$minimum[$k]}text-success{else}text-danger{/if}"> {if isset($last[$k])}{$last[$k]}{else}-{/if} / {$minimum[$k]}</span></li>
				{/foreach}
			</ul>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\RabbitQueueCheck}
			<p>API URL: <a href="{$check->url}" target="_blank">{$check->url}</a> <a href="{$check->adminUrl}" target="_blank" n:if="$check->adminUrl"><i class="icons font-2xl d-block mt-5 cui-dashboard"></i></a></p>
			<p>Kontrolované fronty (aktuální/očekávaná):</p>
			<ul>
				{var $maximum = $check->getMaximumMessageCount()}
				{var $last = $check->getLastMessageCount()}
				{foreach $check->getQueues() as $k => $v}
					<li>{$v}: <span class="{if isset($last[$k]) && $last[$k]<=$maximum[$k]}text-success{else}text-danger{/if}"> {if isset($last[$k])}{$last[$k]}{else}-{/if} / {$maximum[$k]}</span></li>
				{/foreach}
			</ul>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\HttpStatusCodeCheck}
			<p>Testovaná adresa: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
			<p>Očekávaný kód: {$check->code}</p>
			<p>Zjištěný kód: {if $check->lastCode}{$check->lastCode}{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\NumberValueCheck}
			<p>URL s hodnotou: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
			<p>Očekávaná hodnota: {=\Pd\Monitoring\Check\NumberValueCheck::OPERATORS[$check->operator]} {$check->threshold}</p>
			<p>Zjištěná hodnota: {if $check->value !== NULL}{$check->value}{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof \Pd\Monitoring\Check\XpathCheck}
			<p>URL: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
			<p>XPath selektor: <pre>{$check->xpath}</pre></p>
			<p>Očekávaná hodnota: {=\Pd\Monitoring\Check\XpathCheck::OPERATORS[$check->operator]} {$check->xpathResult}</p>
			<p>Zjištěná hodnota: {if $check->xpathLastResult !== NULL}{$check->xpathLastResult}{else}<span class="text-muted">není</span>{/if}</p>
			<p>Poslední kontrola: {if $check->lastCheck}{$check->lastCheck|dateTime}{else}<span class="text-muted">neproběhla</span>{/if}</p>
		{elseif $check instanceof Pd\Monitoring\Check\AliveCheck}
			<p>Testovaná URL: <a href="{$check->url}" target="_blank">{$check->url}</a></p>
		{/if}
	</div>
	<div class="card-footer">
		<a n:href="pause!" class="ajax btn btn-sm btn-default"" n:if=" $user->isAllowed('check', 'edit') && ! $check->paused" title="Pozastavit"><i class="fa fa-play fa-lg"></i></a>
		<a n:href="pause!" class="ajax btn btn-sm btn-default"" n:if="$user->isAllowed('check', 'edit') && $check->paused" title="Povolit"><i class="fa fa-pause fa-lg"></i></a>
		<a n:href="refresh!" class="ajax btn btn-sm btn-default""><i class="fa fa-refresh fa-lg"></i></a>
		<a href="{plink :DashBoard:Check:edit $check}" n:if="$user->isAllowed('check', 'edit')" class="btn btn-sm btn-default" title="Upravit"><i class="fa fa-pencil fa-lg"></i></a>
		{if $hasUserNotification}
			<a n:href="userNotificationOff!" class="ajax btn btn-success btn-sm" title="Přestat dostávat soukromé notifikace"><i n:class="fa, fa-lg, fa-headphones"></i></a>
		{else}
			<a n:href="userNotificationOn!" class="ajax text-muted btn btn-default btn-sm" title="Dostávat soukromé notifikace"><i n:class="fa, fa-lg, fa-headphones"></i></a>
		{/if}
		<a href="{plink :DashBoard:Check:logView $check}" class="btn btn-default btn-sm" title="Logy"><i class="fa fa-list fa-lg"></i></a>
		<a n:href="delete!" n:if="$user->isAllowed('check', 'delete')" class="btn btn-sm btn-danger pull-right confirm" title="Smazat"><i class="fa fa-trash fa-lg"></i></a>
	</div>
</div>
