{if $user->isAllowed('user', 'edit')}
	<a href="{plink :DashBoard:User:default}" class="btn"><i class="icon-settings"></i> Nastavení</a>
{else}
	<a href="{plink :DashBoard:User:edit, $user->id}" class="btn"><i class="icon-settings"></i> Nastavení</a>
{/if}
