github:
	clientId: "" # aplikace pro přihlášení uživatelů a práci s GitHubem
	clientSecret: ""


dbal:
	driver: mysqli
	host: localhost
	username: monitoring
	password: monitoring
	database: monitoring
	connectionTz: '+02:00'


rabbitmq:
	connection:
		host: localhost
		port: 5672
		user: 'monitoring'
		password: 'monitoring'
		vhost: 'monitoring'


console:
	url: http://monitoring.v.peckadesign.com


parameters:
	slack:
		hookUrl: "" # URL hooku pro notifikování do Slacku
