<div class="panel panel-default">
	<div class="panel-body">
		<h2><a href="{plink Project: $project->id}">{$project->name}</h2>

		<div class="progress">
			{foreach $percents as $type => $percent}
				<div class="progress-bar progress-bar-{$type|check}" style="width: {$percent|number:2|noescape}%">
					<span class="sr-only">{count($checks[$type])}</span>
				</div>
			{/foreach}
		</div>
	</div>
</div>
