{snippet}
<div class="panel panel-default">
	<div class="panel-body">
		<h2>{if $project->maintenance}<small class="glyphicon glyphicon-fire" aria-hidden="true"></small> {/if}<a href="{plink Project: $project->id}">{$project->name}</a></h2>

		<div class="progress">
			{foreach $percents as $type => $percent}
				<div class="progress-bar progress-bar-{$type|check}" style="width: {$percent|number:2|noescape}%; min-width: 1em;">
					<span>{count($checks[$type])}</span>
				</div>
			{/foreach}
		</div>
	</div>
	<div class="panel-footer">
		{if $favoriteProject}
			<a href="{link deleteFavoriteProject!}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
		{else}
			<a href="{link setFavoriteProject!}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty text-muted" aria-hidden="true"></span></a>
		{/if}
		<a href="{link notifications!}" n:class="ajax, btn, btn-sm, $project->notifications ? btn-success : btn-default" n:if="$user->isAllowed('project', 'edit')" title="{$project->notifications ? 'Vypnout' : 'Zapnout'} globální notifikace"><span n:class="glyphicon, $project->notifications ? glyphicon-volume-up : 'glyphicon-volume-off text-muted'" aria-hidden="true"></span></a>
		{if $slackNotifications}
			<a href="{link deleteUserSlackNotifications!}" class="ajax btn btn-success btn-sm" title="Přestat dostávat soukromé notifikace"><span n:class="glyphicon, glyphicon-headphones" aria-hidden="true"></span></a>
		{else}
			<a href="{link setUserSlackNotifications!}" class="ajax text-muted btn btn-default btn-sm" title="Dostávat soukromé notifikace"><span n:class="glyphicon, glyphicon-headphones" aria-hidden="true"></span></a>
		{/if}
	</div>
</div>
{/snippet}
