<ul class="nav nav-tabs" role="tablist">
	{foreach $tabs as $tab}
		<li role="presentation" n:class="$tab->isSelected() ? active"><a href="{plink :DashBoard:Project: $tab->getProject()}" role="tab">{$tab->getProject()->name}</a></li>
	{/foreach}
</ul>
