<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{control favicons}
	<title>{ifset #title}{include #title} &ndash; {/ifset}Pecka Monitoring</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<style>
		body {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.sign-in {
			margin: 0 auto;
			width: 500px;
		}
	</style>

</head>
<body>

	<div class="container">

		{foreach $flashes as $flashMessage}
			<div class="alert alert-{$flashMessage->type}" role="alert">
				<span class="alert-link">{$flashMessage->message}</span>
			</div>
		{/foreach}

		<div class="sign-in">
			<div class="page-header">
				<h1><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Pecka Monitoring<sup>beta</sup></h1>
			</div>
			{if $githubAllowed}
			<p class="text-center"><a n:href="login!" title="Přihlaš se" class="btn btn-primary btn-block">Přihlásit přes GitHub</a></p>
			<hr>
			{/if}
			{control form}
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

	</body>
</html>
