<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="temp" includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <report>
            <html outputDirectory="temp" />
        </report>
    </coverage>
</phpunit>
