{snippet}
	<form n:name="maintenanceForm">
		<label class="switch switch-label switch-warning switch-lg">
			<input class="switch-input" n:name="maintenance" data-link="{link toggle!}">
			<span class="switch-slider" data-checked="Ano" data-unchecked="Ne">Údržba</span>
		</label>
	</form>
{/snippet}
