{snippet}
	<a n:href="toggle!" n:if="$user->isAllowed('project', 'maintenance')" class="btn btn-warning ajax"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><span class="hidden-xs"> {if $project->maintenance}Vypnout{else}Zapnout{/if} údržbu</span></a>
{/snippet}
