{control tabs}

<div class="tab-content">
	<div role="tabpanel" n:class="tab-pane, active">
		{foreach $checks as $checkId => $check}
			{first 3}<div class="row">{/first}
			<div class="col-md-4">
				{control check-$checkId}
			</div>
			{last 3}</div>{/last}
		{/foreach}
	</div>
</div>
