{var $now = new DateTime()}
<a href="{plink this}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <span class="js-lastRefresh" data-lastRefresh-now="{$now|date:\DateTime::W3C}">{$now|date:'H:i:s'}</span></a>
